
.body {
    background-color: #9d3cc4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
<<<<<<< HEAD
=======

>>>>>>> a2af2e08764cc105cf5e6637c2bbd17e59f2ed79
